.page-conteiner {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  color: #ffffff;
  background-color: #2a2c2f;
}

/*Section header*/

.header {
  margin: 0 48px;
  padding: 28px 0 56px;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 176px;
  height: 52px;
  background: url(./images/header-logo.svg) center no-repeat;
}

.header__lang-links {
  margin:  0;
  padding: 0 0 5px 0;
}

.header__lang {
  list-style: none;
  display: inline;
  margin-right: 15px;
}

.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.17;
  color: #ffffff;
}

.header__lang:last-child {
  margin-right: 0;
}

.header__lang-link_active {
  text-decoration: underline;
}

.header__lang-link_disactive {
  text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
    margin: 0 auto;
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 976px) {
  .header {
    margin: 0 24px;
  }
}

@media screen and (max-width: 425px) {
 .header {
  margin: 0 16px;
  padding: 16px 0 48px;
  }

.logo {
  width: 142px;
  height: 42px;
  background-size: contain;
  }

.header__lang-link {
  font-size: 18px;
  line-height: 20px;
  }

}

/*Section Lead*/

.lead {
  max-width: 984px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  font-size: 6em;
  font-weight: 900;
  line-height: 1.05;
  font-style: normal;
  text-align: center;
}

.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 59px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
  text-align: center;
}

.lead__image {
  width: 100%;
  object-fit: cover;
}
.lead__caption {
  margin: 13px 0 0;
  font-size: .625em;
  line-height: 1.4;
  letter-spacing: 0.15em;
  font-weight: 400;
  font-style: normal;
  
}

@media screen and (max-width: 1080px) {
  .lead {
    margin: 0 48px;
  }
}


@media screen and (max-width: 1024px) {
  .lead {
    max-width: 928px;
    margin: 0 auto;
  }

  .lead__subtitle {
    margin: 32px auto 56px;
  }

  .lead__caption {
    margin: 8px 0 0;
  }
}

@media screen and (max-width: 928px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

@media screen and (max-width: 745px) {
  
  .lead__title {
    max-width: 450px;
    margin: 0 auto;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    font-style: normal;
    text-align: center;
}
  
  .lead__subtitle {
    max-width: 450px;
    margin: 32px auto 56px;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.25;
    font-style: normal;
    text-align: center;
  }
}

@media screen and (max-width: 515px) {
  .lead__title {
    max-width: 405px;
    margin: 0 auto;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.1;
    font-style: normal;
    text-align: center;
  }
  
  .lead__subtitle {
    max-width: 315px;
    margin: 16px auto 40px;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.25;
    font-style: normal;
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1.1;
    font-style: normal;
    text-align: center;
  }
  
  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25;
    font-style: normal;
    text-align: center;
  }

  .lead__caption {
    margin: 8px 0 0 16px;
  }
}

/*Section Intro*/

.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__content {
  max-width: 690px;
}
.intro__title {
  width: 100%;
  margin: 92px 0 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}
.intro__text {
  width: 100%;
  margin: 0 0 33px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.63;
}

.intro__info {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: .75em;
  line-height: 1.5;
}

.intro__list {
}

.intro__list-text {
  margin: 0;
}

.intro__list-text-number {
  font-weight: normal;
}

/*Косяк ломающий верстку*/
@media screen and (max-width: 1080px) {
  .intro {
    max-width: calc(100% - 96px);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    margin: 0 auto;
  }
}
/*Косяк ломающий верстку*/

@media screen and (max-width: 976px) {
  .intro {
    max-width: 928px;
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro__content {
    max-width: 100%
  }

  .intro__title {
    margin: 88px 0 40px;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    margin: 0 16px;
  }

  .intro__title {
    margin: 64px 0 40px;
    font-size: 2em;
    line-height: 1.09;
  }

  .intro__text {
    font-size: 1em;
    line-height: 1.63;
  }

  .intro__info {
    font-size: .75em;
    line-height: 1.5;
  }
}

/*Section Photo*/

.photo {
  width: 100%;
  margin: 0;
  padding: 92px 0;
}

.photo__grid-conteiner {
  max-width: 1184px;
  margin: 0 48px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 16px;
  
}

.photo__grid-item {
  max-width: 100%;
  object-fit: fill;
}

@media screen and (max-width: 848px) {
  .photo__grid-conteiner {
    max-width: 752px;
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 800px) {
  .photo {
    padding: 88px 0;
  }
  
  .photo__grid-conteiner {
    margin: 0 24px 0;
  }
}

@media screen and (max-width: 425px) {
  .photo {
    padding: 64px 0;
  }

  .photo__grid-conteiner {
    margin: 0 16px 0;
    row-gap: 12px;
  }
}

/*Section Places*/

.places {
  margin: 0 auto;
  max-width: 984px;
}

.place {
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(340px, 460px) minmax(min-content, 484px);
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  gap: 48px 40px;
}

.place:last-child {
  padding-bottom: 92px;
}

.place__title {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.06;
}

.place__website {
  align-self: end;
}

.place__title-link {
  font-style: normal;
  font-weight: normal;
  font-size: .75em;
  line-height: 1;
  letter-spacing: 0.2em;
  color: #aaa;
}

.place__link {
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.125em;
  line-height: 1.22;
  text-decoration-line: underline;
}

.place__link:hover {
  opacity: .8;
  transition: .4s;
}

.place__image {
  width: 100%;
}

.place__article {
}

.place__min-text {
  margin: 0 0 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.63;
}

.place__min-text:last-child {
  margin: 0;
}




@media screen and (max-width: 1103px) {
  .place {
    grid-template-columns: minmax(440px, 460px) minmax(456px, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
    gap: 48px 32px;
  }
}

@media screen and (max-width: 1080px) {
  .places {
    margin: 0 48px;
  }

  .place__min-text {
    margin: 0 0 27px;
  }
}
  
@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: minmax(340px, 440px) minmax(352px, 456px);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  }
}


@media screen and (max-width: 940px) {
  .places {
    max-width: 844px;
    margin: 0 auto;
  }
  
  .place {
    gap: 48px 28px;
    padding-bottom: 73px;
  }

  .place:last-child {
    padding-bottom: 90px;
  }
  
  .place__title {
    font-size: 2.625em;
    line-height: 1.1;
  }

  .place__min-text {
    margin: 0 0 25px;
    font-size: 1em;
    line-height: 1.63;
  }
}

@media screen and (max-width: 892px) {
  .places {
    margin: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  }
}

@media screen and (max-width: 545px) {
  .places {
    margin: 0 auto;
  }
  
  .place {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content) minmax(min-content, max-content);
    row-gap: 32px;
    padding-bottom: 49px;
  }

  .place__website {
    display: none;
  }

  .place__title {
    margin: 0 16px;
    font-size: 2em;
    line-height: 1.09;
  }

  .place__article {
    margin: 0 16px;
  }
}

/*Section Cover*/

.cover {
  max-width: 1184px;
  margin: 0 auto;
}

.cover__link-block {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

.cover__overlay {
  max-width: 100%;
  opacity: .8;
}

.cover__image {
  max-width: 100%;
  opacity: .8;
}

.cover__link-block:hover .cover__image {
  opacity: .3;
  transition: .4s;
}

.cover__title-conteiner {
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -280px;
  z-index: 0;
}

.cover__title {
  width: 100%;
  margin: 0;
  color: #ffffff;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1.06;
  text-align: center;
}
.cover__subtitle {
  width: 360px;
  margin: 32px auto 0;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125em;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 660px) {
  .cover__title-conteiner {
    width: 288px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -65px;
    margin-left: -144px;
  }
  
  .cover__title {
    width: 80%;
    margin: 0 auto;
    font-size: 2em;
    line-height: 1.09;
  }
  .cover__subtitle {
    width: 90%;
    margin: 16px auto 0;
    font-size: .875em;
    line-height: 1.14;
  }
}

/*Section Footer*/

.footer {
  max-width: 1184px;
  margin: 0 48px;
  padding: 92px 0 24px;
  display: flex;
  justify-content: space-between;
}
.footer__navigation {
}
.footer__links {
  margin: 0;
  padding: 0;
}
.footer__link-list {
  display: inline-block;
  margin-right: 18px;
}

.footer__link-list:last-child {
  margin-right: 0;
}

.footer__link {
  text-decoration: none;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.1;
}

.footer__link:hover {
  opacity: .8;
  transition: .4s;
}

.footer__copyright {
  margin: 0;
  font-size: .9em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1;
}

@media screen and (max-width: 799px) {
  .footer {
    margin: 0 24px;
    padding: 88px 0 24px;
  }
}