.cover__link-block {
  width: 100%;
  padding-top: calc((62.5% - 247px)/2);
  padding-bottom: calc((62.5% - 247px)/2);
  text-decoration: none;
  background: url(../../../images/cover-trains.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 636px) {
  .cover__link-block {
    padding-top: calc((62.5% - 129px)/2);
    padding-bottom: calc((62.5% - 129px)/2);
  }
}