.lead__title {
  max-width: 720px;
  margin: 0;
  font-size: 6em;
  font-weight: 900;
  line-height: 1.04;
  font-style: normal;
  text-align: center;
}

@media screen and (max-width: 745px) {
  .lead__title {
    max-width: 450px;
    font-size: 4em;
    line-height: 1.1;
  }
}

@media screen and (max-width: 515px) {
  .lead__title {
    max-width: 405px;
    font-size: 3em;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    max-width: 288px;
    font-size: 2.5em;
  }
}